<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Spring Boot Security</title>
</head>
<body>
<h>Welcome to Spring Boot Security Application</h>
<h2>Index page</h2>

    <div calss= "jay">
        <a th:href="@{/index}">HOME</a>
     	<a th:href="@{/index}" >HOME</a>
     	<a th:href="@{/index}">HOME</a>
     	<a th:href="@{/index}" >HOME</a>             	
    </div>
    
   <div calss= "jay">
     	<a th:href="@{/login}" >login</a>
     		<span>New User?<a href="/" th:href="@{/registration}">Register here</a></span>
    </div>


</body>
</html>